flows.json
[{"id":"21f8039c.888e2c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb913488.262018","type":"tab","label":"Get IP Address","disabled":false,"info":"Displays the device IP address on the SenseHAT when the button is pressed"},{"id":"9c84094d.b8d7d8","type":"exec","z":"cb913488.262018","command":"hostname -I","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":370,"y":120,"wires":[["195236a.cac2cc9"],[],[]]},{"id":"195236a.cac2cc9","type":"function","z":"cb913488.262018","name":"","func":"msg.color = 'white';\nvar m = /^([0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+)/.exec(msg.payload);\nif (m) {\n    msg.payload = m[1];\n} else {\n    msg.payload = \"?\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":108,"wires":[["7f65b3db.11848c"]]},{"id":"f38a5ce0.1fb55","type":"rpi-sensehat in","z":"cb913488.262018","name":"","motion":false,"env":false,"stick":true,"x":104,"y":112,"wires":[["34f13d7e.df5582"]]},{"id":"34f13d7e.df5582","type":"switch","z":"cb913488.262018","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":234,"y":116,"wires":[["9c84094d.b8d7d8"]]},{"id":"a5f9bd18.fbfb8","type":"rpi-sensehat out","z":"cb913488.262018","name":"","x":930,"y":120,"wires":[]},{"id":"7f65b3db.11848c","type":"change","z":"cb913488.262018","name":"","rules":[{"t":"set","p":"pause","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["a5f9bd18.fbfb8","5e0702c8.7e817c"]]},{"id":"5e0702c8.7e817c","type":"trigger","z":"cb913488.262018","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":750,"y":180,"wires":[["af9c2234.5674"]]},{"id":"af9c2234.5674","type":"change","z":"cb913488.262018","name":"","rules":[{"t":"delete","p":"pause","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[[]]}]