flows.json
[{"id":"21f8039c.888e2c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb913488.262018","type":"tab","label":"Get IP Address","disabled":false,"info":"Displays the device IP address on the SenseHAT when the button is pressed"},{"id":"171b9c6f.456464","type":"wiotp-credentials","z":"","name":"","org":"rfd6za","serverName":"","devType":"RaspberryPi","devId":"$(RESIN_DEVICE_NAME_AT_INIT)","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"d330266a.867858","type":"wiotp-credentials","z":"","name":"","org":"rfd6za","serverName":"","devType":"RaspberryPi","devId":"$(RESIN_DEVICE_NAME_AT_INIT)","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"9c84094d.b8d7d8","type":"exec","z":"cb913488.262018","command":"hostname -I","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":370,"y":120,"wires":[["195236a.cac2cc9"],[],[]]},{"id":"195236a.cac2cc9","type":"function","z":"cb913488.262018","name":"","func":"msg.color = 'white';\nvar m = /^([0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+)/.exec(msg.payload);\nif (m) {\n    msg.payload = m[1];\n} else {\n    msg.payload = \"?\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":108,"wires":[["7f65b3db.11848c"]]},{"id":"f38a5ce0.1fb55","type":"rpi-sensehat in","z":"cb913488.262018","name":"","motion":false,"env":false,"stick":true,"x":104,"y":112,"wires":[["34f13d7e.df5582"]]},{"id":"34f13d7e.df5582","type":"switch","z":"cb913488.262018","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":234,"y":116,"wires":[["9c84094d.b8d7d8"]]},{"id":"a5f9bd18.fbfb8","type":"rpi-sensehat out","z":"cb913488.262018","name":"","x":930,"y":120,"wires":[]},{"id":"7f65b3db.11848c","type":"change","z":"cb913488.262018","name":"","rules":[{"t":"set","p":"pause","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["a5f9bd18.fbfb8","5e0702c8.7e817c"]]},{"id":"5e0702c8.7e817c","type":"trigger","z":"cb913488.262018","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":750,"y":180,"wires":[["af9c2234.5674"]]},{"id":"af9c2234.5674","type":"change","z":"cb913488.262018","name":"","rules":[{"t":"delete","p":"pause","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[[]]},{"id":"7ebe8320.0aae3c","type":"rpi-sensehat in","z":"21f8039c.888e2c","name":"","motion":true,"env":false,"stick":false,"x":80,"y":40,"wires":[["c0d588a1.856ca8"]]},{"id":"c0d588a1.856ca8","type":"switch","z":"21f8039c.888e2c","name":"","property":"payload.acceleration.y","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":40,"wires":[["115a075c.1b0339"]]},{"id":"115a075c.1b0339","type":"change","z":"21f8039c.888e2c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":40,"wires":[["416e61e8.33bc2","18d43e38.5143d2"]]},{"id":"416e61e8.33bc2","type":"rpi-sensehat out","z":"21f8039c.888e2c","name":"","x":670,"y":40,"wires":[]},{"id":"18d43e38.5143d2","type":"trigger","z":"21f8039c.888e2c","op1":"","op2":"*,*,off","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":520,"y":100,"wires":[["416e61e8.33bc2"]]},{"id":"efc34894.233628","type":"wiotp out","z":"21f8039c.888e2c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"d330266a.867858","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":450,"y":160,"wires":[]},{"id":"649604bb.79cf1c","type":"rpi-sensehat in","z":"21f8039c.888e2c","name":"","motion":false,"env":true,"stick":false,"x":80,"y":160,"wires":[["6547e1a7.90369"]]},{"id":"6547e1a7.90369","type":"delay","z":"21f8039c.888e2c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":160,"wires":[["efc34894.233628"]]}]